<!-- Aguarde Retorno -->

{% extends 'base.html' %}

{% block title %}Página de Formulário teste{% endblock %}

{% block content %}
<!-- Tentei cria class formularios mas não funcionou -->
<body>
    <div class="container">
        <div class="formularios">
            <!-- Conteúdo do formulário aqui -->
            <h2>Parabéns pela sua iniciativa! </h2>
            <br>
            <h3>Aguarde retorno da nossa equipe com a análise da sua solicitação de adoção em até 24 horas!</h3>
            <br>
        </div>
    </div>
</body>

{% endblock %}
