{% extends 'base.html' %} 
{% block title %}Página de animais disponíveis{% endblock %} 
{% block content %}
<div>
    <h1>Pets para Adoção</h1>
    <table class=>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Sexo</th>
            <th>Idade</th>
            <th>Foto</th>
            <th>Detalhes</th>
            <!-- Adicione outras colunas conforme necessário -->
        </tr>
        </thead>
        <tbody>
        {% for animal in bichinho %}
        <tr>
            <td>{{ animal.nome }}</td>
            <td>{{ animal.sexo }}</td>
            <td>{{ animal.idade }}</td>
            <td> <img src="{{ animal.foto.url }}" alt="Foto do Animal" height="100"></td>
            <!-- <td>{{ animal.foto }}</td>-->
            <td><a href="{% url 'detalhe_pedido' animal.id %}" class="btn btn-primary">Detalhes</a></td>
            <!-- Adicione outras colunas conforme necessário -->
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="index.html"><button class="btn-gradiente">Voltar</button></a>
</div>
{% endblock %}