<!-- Teste Base Extends e Formulário de Solicitação de Adoção-->
<!-- base_form_detalhe_adocao.html -->
<!-- base_cadastro_adotante.html -->

{% extends "base.html" %}
{% load bootstrap5 %}
{% block principal %}

<!--! Parte do Detalhe de cada PET -->

<h1 class="text-body-emphasis">Mais informações sobre o Pet</h1>
<p>
  Detalhes: 
</p>

<!-- {% if sucesso %} -->
  <!-- <p class="alert alert-success"> Solicitação realizada com sucesso! Favor aguardar retorno da nossa equipe em até 24 horas! </p> -->
<!-- {% else %} -->
  <form action="" method="POST" id="form" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary btn-block">Solicitar</button>
  </form>
<!-- {% endif %} -->

<!--! Parte que deverá abrir abaixo de cada Detalhe de PET -->

  <h1 class="text-body-emphasis">Solicitar adoção deste Pet</h1>
  <p>
    Cadastre-se: 
  </p>
  
  {% if sucesso %}
    <p class="alert alert-success"> Solicitação realizada com sucesso! Favor aguardar retorno da nossa equipe em até 24 horas! </p>
  {% else %}
    <form action="" method="POST" id="form" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary btn-block">Solicitar</button>
    </form>
  {% endif %}
{% endblock %}


<!-- Dessa forma, quando você renderizar a página formulario.html, ela irá herdar o layout do base.html, incluindo o navbar e o footer, e substituirá o conteúdo do bloco {% block content %} com o conteúdo específico do formulário. -->


<!-- 
{% extends "base.html" %}
{% load bootstrap5 %}
{% block principal %}

  <h1 class="text-body-emphasis">Solicitar adoção deste Pet</h1>
  <p>
    Cadastre-se: 
  </p>
  
  {% if sucesso %}
    <p class="alert alert-success"> Solicitação realizada com sucesso! Favor aguardar retorno da nossa equipe em até 24 horas! </p>
  {% else %}
    <form action="" method="POST" id="form" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-primary btn-block">Solicitar</button>
    </form>
  {% endif %}
{% endblock %}

 -->