<!-- Base dos Formulários / Listas-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta httm-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <title>Pet Home</title> -->
    <title>{% block title %}Título Padrão{% endblock %}</title>
</head>
<body>
    <div class="background-verde">
        <header>
            <!--? Header: logo, menu e Barra de Funções -->
            <div class="container">
                <nav>
                    <div class="logo">
                        <!-- Pet Home -->
                        <a href="index.html"> P&t Home </a>
                    </div>
                    <!-- Lista -->
                    <ul class="ul">
                        <li> <a href="index.html">Home</a></li>
                        <li> <a href="adocao.html">Adotar</a></li>
                        <li> <a href="doacao.html">Doar</a></li>
                        <li> <a href="voluntariado.html">Voluntariado</a></li>
                        <li> <a href="search_results.html">Buscar Pets</a></li>
                        <li> 
                            <!-- ! Está levando para tela login do Admin do Django -->
                            <a href="/admin/">
                                <button class="btn-gradiente">Login Adm</button>
                            </a>
                        </li>
                    </ul>
                    <!-- Menu Amburguer quando diminuir a tela -->
                    <div class="menu-icon">
                        <img src="../static/img/menu-branco.png" alt="icone de menu">
                        <!-- <img src="../static/img/menu-branco.png" alt="menu-tela-grande"> -->
                    </div>
                </nav>
            </div>
        </header>
        <main>
<!-- Conteudo de Forms -->
            <!-- Conteúdo específico da página -->
            <div class="content">
                {% block content %}

                <!-- <h3>Teste de Formuário</h3> -->

                {% endblock %}
            </div>
        </main>
    </div>
<!-- FOOTER -->
            <!--? FOOTER -->
    <footer>
        <!-- Rodapé -->
        <div class="container">
            <!-- ul 01 -->
            <ul>
                <h4>Pet Home</h4>
                <p>
                    Nos siga em nossas redes sociais. Reposte sobre nosso trabalho e eventos e convide seus amigos a nos conhecer.
                </p>
                <div class="redes-sociais">
                    <a href="https://facebook.com" target="_blank"><img src="../static/img/icon-facebook.svg" alt="facebook.png"></a>
                    <!--  -->
                    <a href="https://twitter.com/i/flow/login" target="_blank"><img src="../static/img/icon-twitter.svg" alt="twitter.png"></a>
                    <!--  -->
                    <a href="https://www.instagram.com/" target="_blank"><img src="../static/img/icon-instagram.svg" alt="instagram.png"></a>
                    <a href="https://www.linkedin.com/feed/" target="_blank"><img src="../static/img/icon-linkedin.svg" alt="linkedin.png"></a>                    
                </div>
            </ul>
            <!-- ul 02 -->
            <ul class="footer-listas">
                <h4>Links</h4>
                <li><a href="/">Home</a></li>
                <li><a href="adocao.html">Adoção</a></li>
                <!--! Precisa descobrir a rota do arquivo html lista de adoção -->
                <li><a href="doacao.html">Doação</a></li>
                <li><a href="/detalhe_adotar/">+informações do Pet</a></li>
                <li><a href="pets_para_adocao.html">Pets - Adoção</a></li>               
                <li><a href="sobre.html">Sobre</a></li>
            </ul>
            <!-- ul 03 -->
            <!--! Ver como Fazer Âncoras para Cars de contatos -->
            <ul class="footer-listas">
                <h4>Suporte</h4>
                <li><a href="sobre.html">FAQ</a></li>
                <!-- <li><a href="#">Como Funciona</a></li> -->
                <li><a href="agenda_eventos.html">Campanhas e Eventos</a></li>
                <li><a href="agenda_eventos.html">Agenda de Eventos</a></li>
                <li><a href="agenda_eventos.html">Comunicados</a></li>            </ul>
            <!-- ul 04 -->
            <ul class="footer-listas">
                <h4>Central de Relacionamento:</h4>
                <li>
                    <p><a href=https://wa.me/5511977219430/" target="_blank" alt="WhatsApp">+55 11 97009700</a></p>
                </li>
                <li>
                    <p><a href="mailto:id.marcia.moreira@gmail.com" target="_blank" alt="E-mail">abrigo.pethome@gmail.com</a></p>
                </li>
                <li>
                    <p>São Paulo - Brasil</p>
                </li>
            </ul>
        </div>
        <div class="minha-assinatura">
            <p> &copysr; 2024 Squad Ameenah - Back End Developer</p>
            <p> - All Rights Reserved - </p>
            <p> Termos legais & Política de Privacidade </p>
        </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
    <script src="../static/js/script.js"></script>
</body>
</html>