<!-- Detalhes do Animal e Quero Adotar -->

{% extends 'base.html' %}

{% block title %}Página de Formulário teste{% endblock %}

{% block content %}
<!-- Tentei cria class formularios mas não funcionou -->
<!-- FOR -->
<body>
    <div class="container">
        <div class="formularios">
            <h1>Detalhes do Animal</h1>
            <p>Nome: {{ animal.nome }}</p>
            <p>Raça: {{ animal.raca }}</p>
            <p>Sexo: {{ animal.sexo }}</p>
            <p>Peso: {{ animal.peso }}</p>
            <p>Idade: {{ animal.idade }}</p>
            <p>Pelagem: {{ animal.pelagem }}</p>
            <p>Castrado: {{ animal.castrado }}</p>
            <p>Histórico de Saude: {{ animal.detalhes_medicos }}</p>
            <img src="{{ animal.foto.url }}" alt="Foto do Animal">
            
            <h2>Solicitar Adoção</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar Solicitação</button>
            </form>
            <br>
        </div>
    </div>
</body>

{% endblock %}
