<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta httm-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Pet Home</title>
</head>
<body>
    <div class="background-verde">
        <header>
            <!--? Header: logo, menu e Barra de Funções -->
            <div class="container">
                <nav>
                    <div class="logo">
                        <!-- Pet Home -->
                        <a href="/"> P&t Home </a>
                    </div>
                    <!-- Lista -->
                    <ul class="ul">
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/animais_disponiveis/">Lista Adotar</a></li>
                        <!--! Precisa descobrir a rota do arquivo html lista de adoção -->
                        <!-- Teste MM Botão Lista de Animais:teste_animais_disponiveis/ -->
                        <li> <a href="/teste_disponiveis/">Teste Lista Adotar</a></li>
                        <li> <a href="/detalhe_pedido/1/">Detalhes</a></li>
                        <li> <a href="/sucesso/">Doar</a></li>
                        <li> <a href="voluntariado.html">Voluntariado</a></li>
                        <li> <a href="search_results.html">Buscar Pets</a></li>
                        <li> 
                            <!--? Leva para Página de Admin Django -->
                            <a href="/admin/">
                                <button class="btn-gradiente">Login Adm</button>
                            </a>
                        </li>
                    </ul>
                    <!-- Menu Amburguer quando diminuir a tela -->
                    <div class="menu-icon">
                        <img src="../static/img/menu-branco.png" alt="icone de menu">
                        <!-- <img src="../static/img/menu-branco.png" alt="menu-tela-grande"> -->
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <!--? PRIMEIRA PARTE - Main - Conteudo Página Principal -->
            <div class="container">
                <div class="main-text">
                    <!-- main texto -->
                    <h1>Feliz em ter você por aqui!</h1>
                    <h2> Vamos conhecer os Pets disponíveis para adoção?</h2>
                    <div>
                        <button class="btn-gradiente">Quero ser Adotado</button>
                        <!--! Verificar se retira essa img -->
                        <!-- <img src="../statics/images/calendar2-week.svg" alt="Verificado"> -->
                    </div>
                </div>
                <div class="main-img">
                    <!-- Div Imagem Principal-->
                    <img src="../static/img/capa-1.jpeg" alt="Cachorro Foto de Capa">
                </div>
            </div>
        </main>
    </div>
        <!--? SEGUNDA PARTE - Resultados -->
    <section class="resultados">
        <div class="container">
            <div class="resultados-text">
                <P>Ajudando a unir vidas, formando novas famílias.</P>
                <br>
                <p>- Resultados dos últimos 12 meses -</P>
            </div>
            <div class="resultados-numero">
                <p>
                    <span>+70</span>
                    adoções
                </p>
                <p>
                    <span>+600</span>
                    doações
                </p>
                <p>
                    <span>+80</span>
                    voluntarios
                </p>
                <p>
                    <span>+120</span>
                    resgates
                </p>
            </div>
        </div>
    </section>
        <!--? TERCEIRA PARTE - Diferenciais de Funções-->
    <section class="diferenciais">
        <div class="container">
            <div class="card">
                <img src="../static/img/emoji-smile.svg" alt="emoji">
                <h3 class="titulo">Como fazer <em>doações</em> </h3>
                <p>
                    <!-- Dica para escrever Lorem Ipsum no VSCode = Lorem20 Enter -->
                    Os nossos abrigos, necessitam de colaboraçao constante para manter as necessidades básicas e dignas dos nossos pets!
                    Você pode se cadastrar em nossa plataforma como <em>doador frequente</em>, contribuindo mensalmente, ou realizando doações exporádicas!  
                </p>
            </div>
            <div class="card">
                <img src="../static/img/emoji-heart-eyes.svg" alt="emoji">
                <h3 class="titulo">Quero ser <em>voluntário</em></h3>
                <p>
                    <!-- Dica para escrever Lorem Ipsum no VSCode = Lorem20 Enter -->
                    O voluntário <em>P&t Home</em>, pode contribuir, participando das escalas de feiras de adoção ou demais eventos do nosso calendário comemorativo. O voluntário pode contribuir com o trabalho que mais se identificar e escolher a unidade onde deseja atuar.
                </p>
            </div>
            <div class="card">
                <img src="../static/img/emoji-wink.svg" alt="emoji">
                <h3 class="titulo">Por que ser um <em>cuidador</em></h3>
                <p>
                    <!-- Dica para escrever Lorem Ipsum no VSCode = Lorem20 Enter -->
                    Diferente do voluntário, nossos cuidadores são responsáveis por nos ajudar a cuidar dos pets resgatados, em suas residências, após procedimentos cirurgicos gerais ou de castração, até que esteja apto a convivência com os demais pets em uma das unidades <em>P&t Home</em>.
                </p>
            </div>
        </div>
    </section>
        <!--? QUARTA PARTE - Casa x Visão Geral dos Abrigos-->
    <section class="casa">
        <div class="container">
            <div class="casa-img">
                <!--! Seria Muito difícil fazer uma página com carrossel de fotos? -->
                <img src="../static/img/abrigo_animais.jpg" alt="Abrigo_Animais">
            </div>
            <div class="casa-text">
                <h2>
                    Conheça a nossa história 
                </h2>
                <p>
                    A P&t Home, foi fundada em 2013, tendo sua primeira unidade no bairro da Lapa-SP, e hoje conta com mais duas unidades em São Paulo, a segunda em Pinheiros e a terceira na Penha. 
                </p>
                <img src="../static/img/dog_cat.jpg" alt="dog e cat" class="img-dogcat">
                <p>
                    <b>+felizes com a sua ajuda</b>
                </p>
            </div>
        </div>
    </section>
        <!--? QUINTA PARTE - Melhores-Lugares (usar esse card para as 3 filiais)-->
    <section class="melhores-lugares">
        <div class="container">
            <p class="verde-escuro">Nossas unidades:</p>
            <h2>Acolhemos e cuidamos com amor e carinho</h2>
            <div class="cards">
                <!-- card item 1 -->
                <div class="card-item">
                    <img src="../static/img/pethome-lapa.jpeg" alt="Lapa-PetHome">
                    <p class="local-casa">Lapa - SP</p>
                    <p class="nome-casa">P&t Home Lapa</p>
                    <p class="contato">
                        11 3333 3331 <br> pet.home.lapa@gmail.com
                    </p>
                    <button>Saiba Mais</button>
                </div>
                <!-- card item 2 -->
                <div class="card-item">
                    <img src="../static/img/pethome-pinheiros.jpeg" alt="Pinheiros-PetHome">
                    <p class="local-casa">Pinheiros - SP</p>
                    <p class="nome-casa">P&t Home Pinheiros</p>
                    <p class="contato">
                        11 3333 3332 <br> pet.home.pinheiros@gmail.com
                    </p>
                    <button>Saiba Mais</button>
                </div>
                <!-- card item 3 -->
                <div class="card-item">
                    <img src="../static/img/pethome-penha.jpg" alt="Penha-PetHome">
                    <p class="local-casa">Penha - SP</p>
                    <p class="nome-casa">P&t Home Penha</p>
                    <p class="contato">
                        11 3333 3333 <br> pet.home.penha@gmail.com
                    </p>
                    <button>Saiba Mais</button>
                </div>
            </div>
        </div>
    </section>
        <!--? SEXTA PARTE - Newsletter! com Form -->
    <section class="newsletter">
        <!-- Vídeo 07 FIM -->
        <div class="container">
            <div class="box-newsletter">
                <h2>Inscreva-se na nossa newsletter</h2>
                <p>Inscreva-se para receber informações sobre eventos de adoção, agenda de multirões e dicas para o seu pet.</p>
                <form>
                    <input type="email" placeholder="Digite seu email">
                    <!--! O Texto desse Botão está estourando! -->
                    <button>Inscrever</button>
                </form>
            </div>
        </div>
    </section>
        <!--? FOOTER -->
    <footer>
        <!-- Rodapé -->
        <div class="container">
            <!-- ul 01 -->
            <ul>
                <h4>Pet Home</h4>
                <p>
                    Nos siga em nossas redes sociais. Reposte sobre nosso trabalho e eventos e convide seus amigos a nos conhecer.
                </p>
                <div class="redes-sociais">
                    <a href="https://facebook.com" target="_blank"><img src="../static/img/icon-facebook.svg" alt="facebook.png"></a>
                    <!--  -->
                    <a href="https://twitter.com/i/flow/login" target="_blank"><img src="../static/img/icon-twitter.svg" alt="twitter.png"></a>
                    <!--  -->
                    <a href="https://www.instagram.com/" target="_blank"><img src="../static/img/icon-instagram.svg" alt="instagram.png"></a>
                    <a href="https://www.linkedin.com/feed/" target="_blank"><img src="../static/img/icon-linkedin.svg" alt="linkedin.png"></a>                    
                </div>
            </ul>
            <!-- ul 02 -->
            <ul class="footer-listas">
                <h4>Links</h4>
                <li><a href="/">Home</a></li>
                <li><a href="adocao.html">Adoção</a></li>
                <!--! Precisa descobrir a rota do arquivo html lista de adoção -->
                <li><a href="doacao.html">Doação</a></li>
                <li><a href="/detalhe_adotar/">+informações do Pet</a></li>
                <li><a href="pets_para_adocao.html">Pets - Adoção</a></li>               
                <li><a href="sobre.html">Sobre</a></li>
            </ul>
            <!-- ul 03 -->
            <!--! Ver como Fazer Âncoras para Cars de contatos -->
            <ul class="footer-listas">
                <h4>Suporte</h4>
                <li><a href="sobre.html">FAQ</a></li>
                <!-- <li><a href="#">Como Funciona</a></li> -->
                <li><a href="agenda_eventos.html">Campanhas e Eventos</a></li>
                <li><a href="agenda_eventos.html">Agenda de Eventos</a></li>
                <li><a href="agenda_eventos.html">Comunicados</a></li>
            </ul>
            <!-- ul 04 -->
            <ul class="footer-listas">
                <h4>Central de Relacionamento:</h4>
                <li>
                    <p><a href=https://wa.me/5511977219430/" target="_blank" alt="WhatsApp">+55 11 97009700</a></p>
                </li>
                <li>
                    <p><a href="mailto:id.marcia.moreira@gmail.com" target="_blank" alt="E-mail">abrigo.pethome@gmail.com</a></p>
                </li>
                <li>
                    <p>São Paulo - Brasil</p>
                </li>
            </ul>
        </div>
        <div class="minha-assinatura">
            <p> &copysr; 2024 Squad Ameenah - Back End Developer</p>
            <p> - All Rights Reserved - </p>
            <p> Termos legais & Política de Privacidade </p>
        </div>
    </footer> 
    <script src="../static/js/script.js"></script>
</body>
</html>


<!-- 


 -->