<!-- Aguarde Retorno -->
<!-- aguarde_retorno.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Página de Formulário{% endblock %}

{% block content %}
<!-- Tentei cria class formularios mas não funcionou -->
<body>
    <div class="container">
        <div class="formularios">
            <!-- Conteúdo do formulário aqui -->
            <h2>Parabéns pela sua iniciativa! </h2>
            <br>
            <h4>Aguarde retorno da nossa equipe com a análise da sua solicitação de adoção em até 24 horas!</h4>
            <br>
            <a href="/"><button class="btn-gradiente">Voltar/Sair</button></a>
            <br>
        </div>
    </div>
</body>

{% endblock %}
