{% extends 'base.html' %} 
{% block title %}Página de animais disponíveis{% endblock %} 
{% block content %}

<body>
    <div class="container">
        <div class="formularios">
            <!--? Conteúdo do formulário aqui -->
            <h1>Pets para Adoção</h1>
            <br>
            <form action="" method="GET" class= "d-flex">   <!-- Formulário de busca dos animais --> 
                <input type="text" id="inputAnimals" class= "form-control me-2" name="q" placeholder="Buscar animal...">  <!-- Campo de entrada de texto para pesquisa --> 
                <button type="submit" class="btn btn-primary">Buscar</button> <!-- Botão de envio --> 
                <!-- campo de entrada de texto onde os usuários podem inserir palavras-chave para pesquisa 
                e um botão "Search" que os usuários podem clicar para enviar o formulário -->
            </form> 
            <br>
            <table class=>
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sexo</th>
                    <th>Idade</th>
                    <th>Foto</th>
                    <th>Detalhes</th>
                    <!-- Adicione outras colunas conforme necessário -->
                </tr>
                </thead>
                <tbody>
                {% for animal in bichinho %}
                <tr>
                    <td>{{ animal.nome }}</td>
                    <td>{{ animal.sexo }}</td>
                    <td>{{ animal.idade }}</td>
                    <td> <img src="{{ animal.foto.url }}" alt="Foto do Animal" height="100" width="120"></td>
                    <!-- <td>{{ animal.foto }}</td>-->
                    <td><a href="{% url 'detalhe_pedido' animal.id %}" class="btn btn-primary">Detalhes</a></td>
                    <!-- Adicione outras colunas conforme necessário -->
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="btn-gradiente" onclick="window.history.back()">Voltar</button>
            <br>
        </div>
    </div>
<!--? Fim do Corpo do Formulário -->
</body>
{% endblock %}