<!--! Base dos Formulários / Listas-->
{% load static %}
<!--* INÍCIO CONFIGURAÇÕES Cabeçalho) -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta httm-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <!-- Caminho relativo: -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Pet Home</title>
    <title>{% block title %}Pet Home{% endblock %}</title>
</head>
<!--* FIM CONFIGURAÇÕES Cabeçalho) -->
<body>
<!--* INÍCIO HEADER (Nav/Logo/Menu) -->
    <div class="background-verde">
        <header>
            <!--? Header: logo, menu e Barra de Funções -->
            <div class="container">
                <nav>
                    <div class="logo">
                        <!-- Pet Home -->
                        <a href="/"> Pet Home </a>
                    </div>
                    <!-- Lista -->
                    <ul class="ul">
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/animais_disponiveis/">Pets para Adotar</a></li>
                        <li> <a href="/doar/">Quero Doar</a></li>
                        <li> <a href="/voluntario/">Ser Voluntário</a></li>
                        <li> <a href="/cuidador/">Ser Cuidador</a></li>
                        <li> 
                            <!--? Leva para Página de Admin Django -->
                            <a href="/admin/">
                                <button class="btn-gradiente">Login Adm</button>
                            </a>
                        </li>
                    </ul>
                    <!-- Menu Amburguer quando diminuir a tela -->
                    <div class="menu-icon">
                        <img src="{% static 'img/menu-branco.png' %}" alt="icone de menu">
                    </div>
                </nav>
            </div>
        </header>
<!--* FIM HEADER (Nav/Logo/Menu) -->
<!--? Início do Corpo do Formulário -->
        <main>
            <!-- <div class="container"> -->
                <!-- <div class="formularios"> -->
<!--? INÍCIO - COLOQUE SEU CÓDIGO ABAIXO: -->
                    {% block content %}

                    
                    <!--! <h2>SEU CÓDIGO AQUI</h2> -->


                    {% endblock %}
<!--? FIM - COLOQUE SEU CÓDIGO ACIMA: -->
                <!-- <br> -->
                <!-- </div> -->
            <!-- </div> -->
        </main>
    </div>
<!--? Fim do Corpo do Formulário -->
<!--* INÍCIO RODAPÉ -->
    <footer>
        <!-- Rodapé -->
        <div class="container">
            <!-- ul 01 -->
            <ul>
                <h4>Pet Home</h4>
                <p>
                    Nos siga em nossas redes sociais. Reposte sobre nosso trabalho e eventos e convide seus amigos a nos conhecer.
                </p>
                <div class="redes-sociais">
                    <a href="https://facebook.com" target="_blank"><img src="{% static 'img/icon-facebook.svg' %}" alt="facebook.png"></a>
                    <!--  -->
                    <a href="https://twitter.com/i/flow/login" target="_blank"><img src="{% static 'img/icon-twitter.svg' %}" alt="twitter.png"></a>
                    <!--  -->
                    <a href="https://www.instagram.com/" target="_blank"><img src="{% static 'img/icon-instagram.svg' %}" alt="instagram.png"></a>
                    <!--  -->
                    <a href="https://www.linkedin.com/feed/" target="_blank"><img src="{% static 'img/icon-linkedin.svg' %}" alt="linkedin.png"></a>                    
                </div>
            </ul>
            <!-- ul 02 -->
            <ul class="footer-listas">
                <h4>Links</h4>
                <li><a href="/">Home</a></li>
                <li><a href="/animais_disponiveis/">Lista de Pets</a></li>
                <!-- <li><a href="/detalhe_adotar/">+informações do Pet</a></li> -->
                <li><a href="/doar/">Doação</a></li>
                <li><a href="/voluntario/">Ser Voluntário</a></li>
                <li><a href="/cuidador/">Ser Cuidador</a></li>               
                <li><a href="/sobre/">Sobre</a></li>
            </ul>
            <!-- ul 03 -->
            <!--! Ver como Fazer Âncoras para Cars de contatos -->
            <ul class="footer-listas">
                <h4>Suporte</h4>
                <li><a href="/sobre/">FAQ</a></li>
                <!-- <li><a href="#">Como Funciona</a></li> -->
                <li><a href="/agenda/">Campanhas e Eventos</a></li>
                <li><a href="/agenda/">Agenda de Eventos</a></li>
                <li><a href="/agenda/">Comunicados</a></li>
            </ul>
            <!-- ul 04 -->
            <ul class="footer-listas">
                <h4>Central de Relacionamento:</h4>
                <li>
                    <p><a href=https://wa.me/5511977219430/" target="_blank" alt="WhatsApp">+55 11 97009700</a></p>
                </li>
                <li>
                    <p><a href="mailto:id.marcia.moreira@gmail.com" target="_blank" alt="E-mail">abrigo.pethome@gmail.com</a></p>
                </li>
                <li>
                    <p>São Paulo - Brasil</p>
                </li>
            </ul>
        </div>
        <div class="minha-assinatura">
            <p> &copysr; 2024 Squad Ameenah - WoMakersCode </p>
            <p> - Back End Developer (Python and Django) - </p>
            <p> - All Rights Reserved - </p>
            <p> Termos legais & Política de Privacidade </p>
        </div>
    </footer>
<!--* FIM RODAPÉ -->
<!--* INÍCIO JAVASCRIPT -->
    <!-- <script src="../static/js/script.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        // Carregamento de IMG para o arquivo script.js:
        const menuBrancoUrl = "{% static 'img/menu-branco.png' %}";
        const menuCloseBrancoUrl = "{% static 'img/menu-close-branco.png' %}";
    </script>
<!--* FIM JAVASCRIPT -->
</body>
</html>
<!-- Corrigido 14:24 10-04-2024 -->
