<!-- 1_detalhes_pet.html -->
<!-- detalhes_pet_pedido_adocao.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Página de Formulário Detalhes Pet e Solicitação de Adoção{% endblock %}
{% block content %}
<body>
    <div class="container">
        <div class="formularios">
            <!--? Conteúdo do formulário aqui -->
            <div class="detalhe-pet">
                <h1>Mais detalhes sobre o Pet</h1>
            <section>                
                <!-- height="200" width="250" -->
                <div class="detalhe-pet-img">
                    <img class="detalhe-pet" src="{{ animal.foto.url }}" alt="Foto do Pet" >
                </div>
                <div class="detalhe-pet-dados">
                    <h2><strong>{{ animal.nome }}</strong></h2>
                    <p>Espécie: <strong>{{ animal.especie }}</strong></p>
                    <p>Raça: <strong>{{ animal.raca }}</strong></p>
                    <p>Sexo: <strong>{{ animal.sexo }}</strong></p>
                    <p>Idade: <strong>{{ animal.idade }}</strong></p>
                    <p>Castrado: <strong>{{ animal.castrado }}</strong></p>
                    <p>Entrada no abrigo: <strong>{{ animal.data_entrada }}</strong></p>
                    <p>Histórico de Saúde: <strong>{{ animal.historico_saude }}</strong></p>
                </div>
            </section>
            </div>
            <section>
                <a href="#"><button class="btn-gradiente">Adotar este Pet</button></a>
                <!-- <a href="/cadastrar_solicitante/"><button class="btn-gradiente">Adotar este Pet</button></a> -->
                <!-- cadastrar_solicitante/ -->
            </section>
            <section>
                <button class="btn-gradiente" onclick="window.history.back()">Voltar</button>
            </section>
            <br>
        </div>
    </div>
</body>
{% endblock %}


