<!-- 1_detalhes_pet.html -->
<!-- detalhes_pet_pedido_adocao.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Página de Formulário Detalhes Pet e Solicitação de Adoção{% endblock %}
{% block content %}
<body>
    <div class="container">
        <div class="formularios">
            <!--? Conteúdo do formulário aqui -->
            <h1>Mais Detalhes do Pet</h1>
            <!-- height="200" width="250" -->
            <img class="detalhe-pet" src="{{ animal.foto.url }}" alt="Foto do Pet" >
            <h2>{{ animal.nome }}</h2>
            <p>Espécie: {{ animal.especie }}</p>
            <p>Raça: {{ animal.raca }}</p>
            <p>Sexo: {{ animal.sexo }}</p>
            <p>Idade: {{ animal.idade }}</p>
            <p>Castrado: {{ animal.castrado }}</p>
            <p>Data Entrada: {{ animal.data_entrada }}</p>
            <p>Histórico de Saúde: {{ animal.historico_saude }}</p>
            <br><br>
            <h2>Solicitar Adoção deste Pet</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Solicitar</button>
            </form>
            <br>
            <a href="/"><button class="btn-gradiente">Voltar/Sair</button></a>
            <br>
            <!-- TESTE 3 -->

            <form method="post">
                {% csrf_token %}
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone">
                <button type="submit">Enviar</button>
            </form>
            <br>
            <button class="btn-gradiente" onclick="window.history.back()">Voltar</button>
            <br>        
        </div>
    </div>
</body>
{% endblock %}


