<!-- 1_detalhes_pet.html -->
<!-- detalhes_pet_pedido_adocao.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Página de Formulário Detalhes Pet e Solicitação de Adoção{% endblock %}
{% block content %}
<body>
    <div class="container">
        <div class="formularios">
            <!-- Conteúdo do formulário aqui -->
            <h1>Mais Detalhes do Pet</h1>
            <img class="foto-detalhe-pet" src="{{ animal.foto.url }}" alt="Foto do Pet" height="200" width="250">
            <h2>{{ animal.nome }}</h2>
            <p>Espécie: {{ animal.especie }}</p>
            <p>Raça: {{ animal.raca }}</p>
            <p>Sexo: {{ animal.sexo }}</p>
            <p>Idade: {{ animal.idade }}</p>
            <p>Castrado: {{ animal.castrado }}</p>
            <p>Data Entrada: {{ animal.data_entrada }}</p>
            <p>Histórico de Saúde: {{ animal.historico_saude }}</p>
            
            <h2>Solicitar Adoção deste Pet</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
            </form>
            <br>
            <a href="/"><button class="btn-gradiente">Voltar</button></a>
            <br>        
        </div>
    </div>
</body>
{% endblock %}


