<!-- nome_do_seu_html.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Página de Formulário{% endblock %}
{% block content %}
<body>
    <div class="container">
        <div class="formularios">
            <!--? Conteúdo do formulário abaixo -->

            <div class="">
            <!-- <div class="background-verde"> -->
                <h1>Seu Título</h1>
                <div class="pagina-construcao">
                    <br>
                    <h3>Página em Construção</h3>
                    <br>
                    <a href="/"><button class="btn-gradiente">Voltar</button></a>
                </div>
            </div>  
            
            <!--? Conteúdo do formulário acima: -->
            <br>        
        </div>
    </div>
</body>
{% endblock %}
