<!-- Aguarde Retorno -->
<!-- aguarde_retorno.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Página de Formulário{% endblock %}
{% block content %}
<body>
    <div class="container">
        <div class="formularios">
            <!--? Conteúdo do formulário abaixo -->

            <div class="">
            <!-- <div class="background-verde"> -->
                <h1></h1>
                <div class="">
                <!-- <div class="pagina-construcao"> -->
                    <h2> Parabéns pela sua iniciativa! </h2>
                    <br>
                    <h4>Aguarde retorno da nossa equipe com a análise da sua solicitação de adoção em até 24 horas!</h4>
                    <a href="/"><button class="btn-gradiente">Voltar</button></a>
                </div>
            </div>  
            
            <!--? Conteúdo do formulário acima: -->
            <br>        
        </div>
    </div>
</body>
{% endblock %}