<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/style.css">
<!--! Falta link do BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link href="link bootstrap"> -->
    
    <title>Pets para Adoção</title>
</head>
<body>
<!-- Retirei o Nav Menu e coloquei a parte no nav.html -->
    <div>
        <form action="{% url 'search_animals' %}" method="GET">
            <input type="text" name="q" placeholder="Search animals...">
            <button type="submit">Search</button>
        </form>
    </div>
        
    <div>
        <h1>Pets para Adoção</h1>
        <table class=>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Sexo</th>
                <th>Idade</th>
                <th>Foto</th>
                <!-- Adicione outras colunas conforme necessário -->
            </tr>
            </thead>
            <tbody>
            {% for animal in animals %}
            <tr>
                <td>{{ animal.nome }}</td>
                <td>{{ animal.sexo }}</td>
                <td>{{ animal.idade }}</td>
                <td>{{ animal.foto }}</td>
                <!-- Adicione outras colunas conforme necessário -->
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="index.html"><button class="btn-gradiente">Voltar</button></a>
    </div>
    </main>
    <!-- <script src="link para Bootstrap js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

        <!-- Lista com 6 pets por página -->
    
        <!-- Ao Clicar em um pet, abre a ficha de Detalhes -->
        <!-- Detalhes: Ficha Médica... -->
        <!-- ficha_medica_pet.html -->